body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('crop.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    margin: 50px;
    text-align: center;
    width: 100%;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

button {
    background: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #218838;
}
